.App {
    align-items: center;

}

body {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.main-content {
    transition: backdrop-filter 0.3s ease;
}

.main-content.active {
    backdrop-filter: blur(10px);
    z-index: 1;
}