.footer{
 display: flex;
 flex-direction: column;
 height: 50vh;
 margin: 0px;
 gap: 0px;
 background-color: rgb(103, 94, 94);
 color: rgb(245, 237, 228);

}
.contact{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.contact1{
    padding: 60px;

}
.contact1 h1{
    font-size: 23px;
}
.letter p{
    font-size: 25px;
}
.letter{
    padding: 55px;
    margin-left: 270px;
}
.letter input{
    width: 250px;
    height: 40px;
    margin-left: 10px;
    border: none;
    outline: none;
    color: rgb(89, 90, 91);
    font-size: 15px;

}
.letter button{
    width: 120px;
    height: 42px;
    border: none;
    color: rgb(52, 56, 56);
    font-size: 15px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(222, 206, 185);
}
.button:active{
    transform: translateY(4px);
}
.social svg{
    font-size: 22px;
    color: gainsboro;
    margin: 5px;
    
}
.copy p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -45px;
}

@media(max-width:800px){
 .contact1{
    padding: 1px 24px;
    margin-left: 33px;
    
 }
 .copy{
    height: 10px;
 }
 .letter p{
    font-size: 10px;
 }

 .contact1 h1{
    font-size: 12px;
 }
 .letter input{
    width: 260px;
    height: 40px;
 }
 .letter button{
   margin-left: 170px;
   width: 100px;
   

 }
}

   
   
