.indexsort{
    display: flex;
    margin: 10px 160px;
    align-items: center;
}
.indexsort p span{
    font-weight: 600;
    font-size: 25px;
}

.indexsort svg{
    margin-left: -60px;
}
input.search-inputs{
    margin: 40px;
    background-color: white;
    border-radius: 5px ;
    width: 25%;
    font-size: 15px;
    border-color: aliceblue;
    
}


.products{
    margin: 20px 140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

