.productdisplay{
    display: flex;
    margin: 0px 90px;
}
.product-left{
    display: flex;
    gap: 10px;
}
.product-imglist{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.product-imglist img{
    height: 123px;
}
.productdisplay-img{
    width: 580px;
    height: 700px;
}
.product-right{
    margin: 70px 170px;
    padding-left: 100px;
    margin-top: 120px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.product-right h1{
     color: #444;
     font-size: 40px;
     font-weight: 600;
}
.product-price{
    display: flex;
    margin: 40px 0px;
    gap: 10px;
    font-size: 25px;
    font-weight: 500;
} 
.product-texst {
    display: flex;
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 400;
}
.product-texst1 {
    display: flex;
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 400;
}
.product-add button{
    padding: 20px 40px;
    width: 200px;
    font-size: 18px;
    font-weight: 500;
    color: gainsboro;
    background: #444;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.product-add button:hover{
    background-color: #5e5b5b;
}
.product-add button:active{
    transform: translateY(4px);
}
@media(max-width:1280px){
  .productdisplay{
    margin: 30px 30px;
  }
  .product-left{
    gap: 10px;
  }
  .productdisplay-img img{
    width: auto;
    height: 510px;
  }
  .product-right{
    margin: 0px 30px;
  }
  .product-right h1{
    font-size: 26px;
  }
  .product-price{
    margin: 15px 0px;
    font-size: 20px;
  }
  .product-texst{
    font-size: 19px;
  }
  .product-texst1{
    font-size: 20px;
  }
  .product-add button{
       width: 160px;
       padding: 16px 0px;
       margin-bottom: 10px;
  }
}
@media(max-width:1024px){
    .productdisplay{
        margin: 0px 15px;
    }
    .product-left{
        gap: 5px;
    }
    .product-imglist img{
        height: 90px;
    }
    .productdisplay-img img{
        height: 450px;
       
    }
    .product-right{
        margin: 90px 0px;
        margin-top: 10px;
        padding: 15px 0px;
    }
    .product-price{
        font-size: 17px;
    }
    .product-right h1{
        font-size: 19px;
    }
    .product-texst{
        font-size: 17px;
    }
    .product-texst1{
        font-size: 17px;
    }
    .product-add{
        width: 150px;
    }
}

@media(max-width:800px){
    .productdisplay{
        margin: 0px 10px;
    }
    .product-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .product-imglist {
        flex-direction: row;
        gap: 8px;  
        margin: 4px; 
    }
    .productdisplay-img{
        height: 460px;
    }
    .product-right h1{
        font-size: 18px;
    }
    .product-texst{
        font-size: 16px;
    }
    .product-add button{
       width: 120px;
       font-size: 14px;
    }

}