.bread{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #444;
    font-size: 17px;
    font-weight: 500;
    margin: 40px 160px;
}
@media(max-width:1280px){
    .bread{
        margin: 30px 50px;
        font-size: 15px;
    }
}
@media(max-width:1024px){
    .bread{
        margin: 30px  30px;
        margin: 14px;
    }
}
@media(max-width:800px){
    .bread{
        margin: 30px 10px;
        font-size: 14px;
    }
}